<div class="container">
    <p-dropdown 
        [options]="wallets" 
        [(ngModel)]="selectedWallet" 
        placeholder="Selecciona una cartera"
        filter="true"
        [filterBy]="'name'"
        optionLabel="name"
        [showClear]="false"
        [style]="{'width':'100%'}"
        class="custom-dropdown"
        (onChange)="onWalletChange($event)">
    </p-dropdown>
    <app-form-wallet [wallet]="selectedWallet" (walletCreated)="walletCreated($event)"></app-form-wallet>
    <div class="estadisticas" *ngIf="selectedWallet">
        <div class="balance">
            <img src="../../../assets/dinero.png" width="50px">
            <p>
                Balance <br>
                <span [ngClass]="{ 
                  'positiveBalance': selectedWallet.budget > 0, 
                  'negativeBalance': selectedWallet.budget <= 0 
                }">
                  {{ selectedWallet.budget }}
                </span>€
              </p>
              
        </div>
        <div class="fecha">
            <img src="../../../assets/calendario.png" width="50px">
            <p>Desde <br>{{ selectedWallet.last_modification | date: 'dd/MM/yyyy'}}</p>
        </div>
    </div>
</div>

<app-movements class="app-movements" [wallet]="selectedWallet" (refreshWallet)="refreshWallet()" *ngIf="selectedWallet"></app-movements>

