<nav class="navbar">
    <div class="navbar-container">
      <!-- <a href="#" class="navbar-logo"><img src="../../../assets/icono.png" class="icono"></a> -->
      <ul class="navbar-menu">
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/categories" routerLinkActive="active">Categorías</a></li>
        <li><a routerLink="/stores" routerLinkActive="active">Tiendas</a></li>
        <li><a routerLink="/brands" routerLinkActive="active">Marcas</a></li>
        <li><a href="#" (click)="logout()">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
  