.table{
    width: 60%;
    margin: 40px auto
}

:host ::ng-deep .p-datatable .p-datatable-header {
    border-top-width: 0 !important; 
    border-bottom-width: 0 !important; 

    background-color: white;
}

#cabecera {
    background-color: white !important;
    border-bottom: white;
}

#botones {
    border: 0;
}